<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mros.launcher.overlay"
    android:versionCode="1"
    android:versionName="1.0">
    
    <overlay
        android:targetPackage="com.sec.android.app.launcher"
        android:priority="9999"
        android:isStatic="false" />
    
    <application
        android:label="MROS 9 Launcher Overlay"
        android:hasCode="false" />
        
</manifest>
